/* line 1, main.scss */
.designer {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 16, main.scss */
.designer .toolbox.layoutor .active {
  background-color: #ddd;
}
/* line 19, main.scss */
.designer .toolbox.layoutor .inlined {
  margin-top: -25px;
}

/* line 28, main.scss */
.toolbox .panel {
  background-color: #F5F5F5;
  margin: 2px;
  width: 300px;
  min-width: 250px;
  padding: 2px;
  border-color: rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.03);
}
/* line 43, main.scss */
.toolbox .control {
  padding-bottom: 2px;
  margin-top: 2px;
}
/* line 48, main.scss */
.toolbox fieldset {
  background: #fff;
  padding: 8px 11px;
  margin: 0px;
  margin-bottom: 1px;
  border: none;
}
/* line 54, main.scss */
.toolbox fieldset:last-child {
  margin-bottom: 0;
}
/* line 57, main.scss */
.toolbox fieldset.transparent {
  background-color: transparent;
}
/* line 60, main.scss */
.toolbox fieldset.no-pad {
  padding: 0;
}
/* line 65, main.scss */
.toolbox .input,
.toolbox .button {
  margin-bottom: 0;
}
/* line 69, main.scss */
.toolbox .io label {
  display: inline-block;
  min-width: 0;
  float: left;
  width: 80%;
}
/* line 75, main.scss */
.toolbox .io .switch {
  display: inline-block;
  float: right;
  width: 20%;
}
/* line 82, main.scss */
.toolbox .switch label {
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
}
/* line 88, main.scss */
.toolbox .content {
  margin: 0;
  padding: 0;
  max-height: 400px;
  min-height: 38px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 102, main.scss */
.tree:before {
  content: "";
  display: block;
  width: 2000px;
  margin-left: -1000px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  height: 0;
  overflow-x: hidden;
  margin-top: -2px;
}
/* line 113, main.scss */
.tree .item:after {
  content: "";
  display: block;
  width: 2000px;
  margin-left: -1000px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  height: 0;
  padding-top: 10px;
  overflow-x: hidden;
}
/* line 124, main.scss */
.tree.over {
  background-color: #ddd;
}
/* line 127, main.scss */
.tree .active {
  color: #008CBA;
}
/* line 130, main.scss */
.tree .fa-arrows {
  font-size: 12px;
  margin-right: 8px;
}

/* line 137, main.scss */
.but-control .tiny {
  padding: 8px 11px;
}

/* line 142, main.scss */
.angular-ui-tree-placeholder {
  border: 1px dashed #ccc;
  border-left: 1px solid #008CBA;
  background-color: #F5F5F5;
}
