<fieldset>
  <div class="control">
    <label>Layout
      <select>
        <option value="fiftyFifty">50/50</option>
        <option value="lSidebar">Sidebar - Left</option>
        <option value="rSidebar">Sidebar - Right</option>
        <option value="apollo">Apollo</option>
      </select>
    </label>
  </div>
</fieldset>

<fieldset>
  <div class="control io">
    <label>Background color</label>
    <div class="switch round tiny">
      <input ng-model="hasbgColor(current)" id="exampleCheckboxSwitch" type="checkbox">
      <label for="exampleCheckboxSwitch"></label>
    </div>
    <div class="clearfix"></div>
  </div>
</fieldset>